{:deps
 {org.clojure/clojurescript {:mvn/version "1.11.60"}
  org.clojure/core.async {:mvn/version "1.5.648"}}
 :paths ["src"]
 :aliases
{:test {:extra-deps {net.r4s6/test-async {:mvn/version "0.2.0"}
                     thheller/shadow-cljs {:mvn/version "2.22.2"}
                     lambdaisland/kaocha {:mvn/version "1.87.1366"}
                     lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
        :extra-paths ["test"]}
 :shadow {:extra-deps {net.r4s6/test-async {:mvn/version "0.2.0"}
                       thheller/shadow-cljs {:mvn/version "2.22.2"}}
          :extra-paths ["test"]
          :main-opts ["-m" "shadow.cljs.devtools.cli"]}
 :repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.7"}
                     com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     net.r4s6/test-async {:mvn/version "0.2.0"}
                     nrepl/nrepl {:mvn/version "1.0.0"}
                     thheller/shadow-cljs {:mvn/version "2.22.2"}}
        :extra-paths ["test"]
        :main-opts ["-m" "nrepl.cmdline"
                    "--middleware" "[cider.nrepl/cider-middleware]"
                    "--interactive"
                    "-f" "rebel-readline.main/-main"]}}}
